.main-color{
  background-color: #546e7a !important;
  border-color: #546e7a !important;
  color: #ffffff;
}
.navbar {
  background-color: #546e7a;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #cacaca;
}
.navbar .navbar-nav .nav-link {
  color: #cacaca;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #546e7a;
  border-color: #345666;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #cacaca;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #345666;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #345666;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #345666;
}
.navbar .navbar-toggle {
  border-color: #345666;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #345666;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #cacaca;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #cacaca;
}
.navbar .navbar-link {
  color: #cacaca;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}
/*  */
/* .btn-primary {
  background-color: #546e7a;
  border-color: #546e7a;
}

.btn-primary:hover {
  background-color: #455a64;
  border-color: #455a64;
}

.btn-primary:active {
  background-color: #546e7a;
  border-color: #546e7a;
  color: #546e7a;
  background: #546e7a;
}

.btn-primary.active {
  background-color: #546e7a;
  border-color: #546e7a;
  color: #546e7a;
  background: #546e7a;
}

.btn-primary:focus {
  background-color: #455a64;
  border-color: #455a64;
} */
/*  */
.btn {
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #546e7a;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #455a64;
}

.btn-primary:active, .btn-primary.active {
    background: #455a64;
    box-shadow: none;
}
/*  */

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cacaca;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #345666;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cacaca;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #345666;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cacaca;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #345666;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cacaca;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #345666;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #cacaca;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #345666;
}
